<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 autoReload="true"
 internalLogLevel="Warn"
 internalLogFile="c:\temp\internal-nlog.txt">
    <!--  ASP.NET Core 使用 -->
  <extensions>
        <add assembly="NLog.Web.AspNetCore"/>      
  </extensions> 
  <targets>
        <!-- 全部日志文件 -->
        <target xsi:type="File" name="allfile" fileName="c:\temp\nlog-all-${shortdate}.log" layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}"/>
        <!-- 自定义记录的日志文件 -->
        <target xsi:type="File" name="ownFile-web" fileName="c:\temp\nlog-own-${shortdate}.log" layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|  ${message} ${exception}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"/>
        <target xsi:type="Null" name="blackhole"/>
  </targets>
    <rules>
        <!--所括asp.net core下的全部日志-->
        <logger name="*" minlevel="Trace" writeTo="allfile"/>
        <!--仅自定义记录的日志文件-->
        <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true"/>
        <logger name="*" minlevel="Trace" writeTo="ownFile-web"/>      
  </rules>
</nlog>